apiVersion: weaviate.io/v1
kind: WeaviateCluster
metadata:
  name: weaviate-basic
  namespace: default
spec:
  version: "1.27.0"
  replicas: 1

  resources:
    requests:
      memory: "4Gi"
      cpu: "1000m"
    limits:
      memory: "8Gi"
      cpu: "2000m"

  storage:
    size: "50Gi"
    storageClassName: "standard"
